<div>
  <div class="absolute left-0 top-0 w-full h-full overflow-hidden">
    <img
      width="139px"
      [@grow]="{
        value: status,
        params: { rotate: 5, delay: 0.1, opacity: 0.5 }
      }"
      style="right: -20px; top: -60px; transform-origin: -100px 300px"
      class="absolute transition-all"
      src="./assets/plant-5.png"
    />

    <img
      width="138px"
      [@grow]="{
        value: status,
        params: { rotate: -5, delay: 0, opacity: 0.5 }
      }"
      style="left: -20px; top: 5%; transform-origin: -100px 300px"
      class="absolute transition-all"
      src="./assets/plant-3.png"
    />

    <img
      width="220px"
      [@grow]="{
        value: status,
        params: { rotate: 5, delay: 0.2, opacity: 0.5 }
      }"
      style="right: -50px; top: 30%; transform-origin: -100px 300px"
      class="absolute transition-all"
      src="./assets/plant-2.png"
      alt=""
    />

    <img
      [@grow]="{ value: status, params: { rotate: -5, opacity: 0.5 } }"
      style="transform-origin: -100px 300px"
      class="absolute transition-all w-[140px] left-[-30px] bottom-[-100px] sm:w-[159px] sm:left-[-30px] sm:bottom-[-120px]"
      src="./assets/plant-1.png"
    />

    <img
      width="203px"
      [@grow]="{
        value: status,
        params: { rotate: 5, delay: 0.3, opacity: 0.5 }
      }"
      style="right: -20px; bottom: 0px; transform-origin: -100px 300px"
      class="absolute transition-all"
      src="./assets/524.png"
    />
  </div>

  <div
    class="p-2 sm:absolute sm:left-0 sm:top-0 sm:flex-col sm:h-full sm:p-6 sm:overflow-auto"
  >
    <img
      [@fadeIn]="status"
      src="./assets/cover.jpg"
      class="relative mt-4 shadow rounded-lg"
    />

    <form
      [formGroup]="form"
      class="flex-col"
      [@fadeInChild]="status"
      (submit)="submit()"
    >
      <!-- 必須要動態產生的 dom 才會運行 query animation -->
      <ng-container *ngIf="status">
        <div class="row mt-4">
          <div
            class="bg-white/95 relative p-2 shadow rounded-xl text-sm leading-8"
          >
            <ng-container *ngIf="isSenior$ | async; else young">
              嗨！ 各位親朋好友們： <br />我們的
              <ng-container [ngSwitch]="gender$ | async">
                <ng-template ngSwitchCase="male">兒子</ng-template>
                <ng-template ngSwitchCase="female">女兒</ng-template>
                <ng-template ngSwitchDefault>兒女</ng-template>
              </ng-container>
              將於
              <div class="flex-col inline-block align-middle text-sm px-2">
                <div>國曆 9 月 24 日</div>
                <div>農曆 8 月 29 日</div>
              </div>
              (星期六) 中午 <span class="highlight">12:00</span> 於<br />
              青青格麗絲莊園 舉行喜宴，<br />誠摯地邀請您一起前來參與我們的婚禮！<br /><br />
              日期： 2022 年 9 月 24日 (星期六) <br />
              時間：
              <div class="inline-block align-top">
                <span class="highlight">12:00</span> 準時開席
              </div>
              <br />
              地點：<a
                class="underline underline-offset-2"
                target="_new"
                href="https://goo.gl/maps/CDTBvkcWNDoe2mkJA"
              >
                青青格麗絲莊園 桃園市蘆竹區南崁路46號
                <span class="highlight">凱特廳</span>
              </a>
              <br /><br />
              <div class="text-right">
                <ng-container [ngSwitch]="gender$ | async">
                  <ng-template ngSwitchCase="male">丁瑞賓 & 林素芬</ng-template>
                  <ng-template ngSwitchCase="female">
                    鄭家君 & 藍玉評
                  </ng-template>
                  <ng-template ngSwitchDefault>
                    <div
                      class="flex-col inline-block align-middle text-sm px-2"
                    >
                      <div>丁瑞賓 & 林素芬</div>
                      <div>鄭家君 & 藍玉評</div>
                    </div>
                  </ng-template>
                </ng-container>
                敬邀
              </div>
            </ng-container>

            <ng-template #young>
              嗨！ 各位親愛的好朋友們： <br />我們將於 國曆 9 月 24 日 (星期六)
              中午 <span class="highlight">12:00</span> 於<br />
              <span class="highlight">青青格麗絲莊園 凱特廳</span>
              舉行喜宴，<br />誠摯地邀請您一起前來參與我們的婚禮！<br /><br />
              日期： 2022 年 9 月 24日 (星期六) <br />
              時間：
              <div class="inline-block align-top">
                <span class="highlight">11:00</span> 證婚儀式<br />
                <span class="highlight">12:00</span> 準時開席
              </div>
              <br />
              地點：<a
                class="underline underline-offset-2"
                target="_new"
                href="https://goo.gl/maps/CDTBvkcWNDoe2mkJA"
              >
                青青格麗絲莊園 桃園市蘆竹區南崁路46號 凱特廳
              </a>
              <br /><br />
              <div class="text-right">偉哲 & 禹辰 敬邀</div>
            </ng-template>
          </div>
        </div>

        <div class="row mt-16">
          <mat-form-field
            floatLabel="always"
            class="w-full bg-white/95 shadow rounded-lg px-2 pt-2 pb-0"
          >
            <mat-label>姓名</mat-label>
            <input
              matInput
              formControlName="name"
              class="!text-center !text-xl"
            />
          </mat-form-field>
        </div>

        <div class="row mt-4" *ngIf="!(gender$ | async)">
          <mat-form-field
            floatLabel="always"
            class="w-full bg-white/95 shadow rounded-lg px-2 pt-2 pb-0"
          >
            <mat-label>男/女親友</mat-label>

            <input matInput formControlName="gender" class="hidden" />

            <mat-radio-group
              color="primary"
              class="flex flex-row w-full content-between m-0 p-4"
              formControlName="gender"
            >
              <div class="flex-1 text-center text-xl">
                <mat-radio-button value="MALE"> 🤵‍♂️ 男方 </mat-radio-button>
              </div>
              <div class="flex-1 text-center text-xl">
                <mat-radio-button value="FEMALE"> 👰‍♀️ 女方 </mat-radio-button>
              </div>
            </mat-radio-group>
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <div class="relative bg-white/95 shadow rounded-lg px-2 pt-2 pb-2">
            <mat-form-field floatLabel="always" class="w-full">
              <mat-label>是否出席</mat-label>

              <input matInput formControlName="gender" class="hidden" />

              <mat-radio-group
                class="flex flex-row w-full content-between m-0 p-4"
                color="primary"
                formControlName="attend"
              >
                <ng-container *ngIf="isSenior$ | async; else youngAttend">
                  <div class="flex-1 text-center text-xl">
                    <mat-radio-button [value]="true"> 參加 </mat-radio-button>
                  </div>

                  <div class="flex-1 text-center text-xl">
                    <mat-radio-button [value]="false">
                      不克參加
                    </mat-radio-button>
                  </div>
                </ng-container>

                <ng-template #youngAttend>
                  <div class="flex-1 text-center text-xl">
                    <mat-radio-button [value]="true">出席 👌 </mat-radio-button>
                  </div>

                  <div class="flex-1 text-center text-xl">
                    <mat-radio-button [value]="false">
                      無法 😭
                    </mat-radio-button>
                  </div>
                </ng-template>
              </mat-radio-group>
            </mat-form-field>

            <div class="text-center" *ngIf="!(isSenior$ | async)">
              <mat-checkbox
                color="primary"
                formControlName="ceremony"
                [disabled]="attend.value == false"
              >
                我要參加 11:00 的
              </mat-checkbox>
              <span
                class="underline underline-offset-2"
                matTooltip="上午 11:00 開始，在戶外進行，有雞尾酒、小點心。"
                #tooltip="matTooltip"
                (click)="tooltip.toggle()"
              >
                證婚儀式
              </span>
            </div>
          </div>
        </div>

        <div *ngIf="gender.value === 'FEMALE'" class="row mt-4">
          <mat-form-field
            floatLabel="always"
            class="w-full bg-white/95 shadow rounded-lg px-2 pt-2 pb-0"
          >
            <mat-label>是否需要喜餅？</mat-label>
            <mat-select
              class="!text-center !text-xl"
              formControlName="wedding_cake"
            >
              <ng-container *ngIf="isSenior$ | async; else youngWeddingCake">
                <mat-option [value]="true"> 要 </mat-option>
                <mat-option [value]="false"> 不需要 </mat-option>
              </ng-container>

              <ng-template #youngWeddingCake>
                <mat-option [value]="true"> 要！ 好吃的喜餅🤤 </mat-option>
                <mat-option [value]="false"> 不用，我在減肥🥲 </mat-option>
              </ng-template>
            </mat-select>
          </mat-form-field>
        </div>

        <ng-container *ngIf="attend.value || weddingCake.value">
          <div class="row mt-4">
            <mat-form-field
              floatLabel="always"
              class="w-full bg-white/95 shadow rounded-lg px-2 pt-2 pb-0"
            >
              <mat-label>聯絡電話</mat-label>
              <input
                matInput
                type="tel"
                formControlName="phone"
                class="!text-center !text-xl"
              />
            </mat-form-field>
          </div>
        </ng-container>

        <div class="row mt-4" *ngIf="!(isSenior$ | async)">
          <mat-form-field
            floatLabel="always"
            class="w-full bg-white/95 shadow rounded-lg px-2 pt-2 pb-0"
          >
            <mat-label>電子郵件</mat-label>
            <input
              matInput
              type="email"
              formControlName="email"
              class="!text-center !text-xl"
            />
          </mat-form-field>
        </div>

        <ng-container *ngIf="attend.value">
          <div class="row mt-4">
            <mat-form-field
              floatLabel="always"
              class="w-full bg-white/95 shadow rounded-lg px-2 pt-2 pb-0"
            >
              <mat-label>參與人數</mat-label>
              <mat-select class="!text-center !text-xl" formControlName="count">
                <mat-option [value]="1"> 1 位 </mat-option>
                <mat-option [value]="2"> 2 位 </mat-option>
                <mat-option [value]="3"> 3 位 </mat-option>
                <mat-option [value]="4"> 4 位 </mat-option>
                <mat-option [value]="5"> 5 位 </mat-option>
                <mat-option [value]="6"> 6 位 </mat-option>
                <mat-option [value]="7"> 7 位 </mat-option>
                <mat-option [value]="8"> 8 位 </mat-option>
                <mat-option [value]="9"> 9 位 </mat-option>
                <mat-option [value]="10"> 10 位 </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="count.value && count.value > 1" class="row mt-4">
            <mat-form-field
              floatLabel="always"
              class="w-full bg-white/95 shadow rounded-lg px-2 pt-2 pb-0"
            >
              <mat-label>是否需要兒童座椅？</mat-label>
              <mat-select
                class="!text-center !text-xl"
                formControlName="child_seat"
              >
                <mat-option [value]="0"> 不需要 </mat-option>
                <ng-container *ngFor="let option of options">
                  <mat-option
                    [value]="option"
                    *ngIf="count.value && option < count.value"
                  >
                    {{ option }} 張
                    <ng-container *ngIf="isSenior$ | async; else young">
                      兒童座椅
                    </ng-container>
                    <ng-template #young> 🍼 </ng-template>
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="row mt-4">
            <mat-form-field
              class="w-full bg-white/95 shadow rounded-lg px-2 pt-2 pb-0"
              floatLabel="always"
            >
              <mat-label>請問是否吃素？</mat-label>
              <mat-select
                formControlName="vegetarians"
                class="!text-center !text-xl"
              >
                <ng-container *ngIf="count.value === 1">
                  <ng-container *ngIf="isSenior$ | async; else young">
                    <mat-option [value]="0"> 葷食 </mat-option>
                    <mat-option [value]="1"> 素食 </mat-option>
                  </ng-container>
                  <ng-template #young>
                    <mat-option [value]="0"> 我要吃肉 🍖 </mat-option>
                    <mat-option [value]="1"> 我要吃素 🌱 </mat-option>
                  </ng-template>
                </ng-container>

                <ng-container *ngIf="count.value !== 1">
                  <!-- 全部葷食 -->
                  <ng-container *ngIf="isSenior$ | async; else young">
                    <mat-option [value]="0">
                      {{ count.value }} 位葷食
                    </mat-option>
                  </ng-container>
                  <ng-template #young>
                    <mat-option [value]="0">
                      {{ count.value }} 位都吃肉 🍖
                    </mat-option>
                  </ng-template>

                  <!-- 部分人 -->
                  <ng-container *ngFor="let option of options">
                    <ng-container *ngIf="isSenior$ | async; else young">
                      <mat-option
                        [value]="option"
                        *ngIf="count.value && option < count.value"
                      >
                        {{ option }} 位素食 / {{ count.value - option }} 位葷食
                      </mat-option>
                    </ng-container>

                    <ng-template #young>
                      <mat-option
                        [value]="option"
                        *ngIf="count.value && option < count.value"
                      >
                        {{ option }} 位吃素 🌱，
                        {{ count.value - option }} 位吃肉 🍖
                      </mat-option>
                    </ng-template>
                  </ng-container>

                  <!-- 全部素食 -->
                  <ng-container *ngIf="count.value === 1">
                    <ng-container *ngIf="isSenior$ | async; else young">
                      <mat-option [value]="count.value">
                        {{ count.value }} 位素食
                      </mat-option>
                    </ng-container>
                    <ng-template #young>
                      <mat-option [value]="count.value">
                        {{ count.value }} 位都吃素 🌱
                      </mat-option>
                    </ng-template>
                  </ng-container>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="row mt-4">
            <mat-form-field
              floatLabel="always"
              class="w-full bg-white/95 shadow rounded-lg px-2 pt-2 pb-0"
            >
              <mat-label>是否需要紙本喜帖？</mat-label>
              <mat-select
                class="!text-center !text-xl"
                formControlName="letter"
              >
                <!-- 全部素食 -->
                <ng-container *ngIf="isSenior$ | async; else young">
                  <mat-option [value]="false"> 不需要喜帖 </mat-option>
                  <mat-option [value]="true"> 需要喜帖 </mat-option>
                </ng-container>

                <ng-template #young>
                  <mat-option [value]="false">
                    不需要，節能減碳愛地球 🌏
                  </mat-option>
                  <mat-option [value]="true">
                    我要，實體喜帖才有溫度、味道 👃
                  </mat-option>
                </ng-template>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="letter.value && form.controls.address" class="row mt-4">
            <mat-form-field
              class="w-full bg-white/95 shadow rounded-lg px-2 pt-2 pb-0"
              floatLabel="always"
            >
              <mat-label>喜帖寄送地址？</mat-label>
              <textarea
                type="address"
                formControlName="address"
                matInput
                rows="3"
              >
              </textarea>
            </mat-form-field>
          </div>
        </ng-container>

        <div class="row mt-4" *ngIf="!(isSenior$ | async)">
          <mat-form-field
            floatLabel="always"
            class="w-full bg-white/95 shadow rounded-lg px-2 pt-2 pb-2"
          >
            <mat-label>祝福的話</mat-label>
            <textarea matInput rows="5" formControlName="blessing"></textarea>
            <mat-hint class="text-xs !text-gray-500/80">
              當天可能會呈現在會場中
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="row text-center !my-8">
          <div class="w-full text-center !my-12">
            <div
              class="rounded-full ring-2 ring-offset-2 ring-red inline-block"
              [ngClass]="{ 'ring-gray-50/30': form.invalid }"
            >
              <button
                mat-raised-button
                type="submit"
                class="!rounded-full !text-3xl !p-4 !px-8 shadow transition-all text-white bg-red sm:p-1 sm:px-4 cursor-pointer"
                color="primary"
                [disabled]="form.invalid || form.disabled"
              >
                確定送出
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
</div>
